<!DOCTYPE hibernate-configuration PUBLIC
	  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="ma.mapharmasys.model.User"/>
        <mapping class="ma.mapharmasys.model.Role"/>
        <mapping class="ma.mapharmasys.model.BonLivraison"/>
        <mapping class="ma.mapharmasys.model.Client"/>
        <mapping class="ma.mapharmasys.model.Forme"/>
        <mapping class="ma.mapharmasys.model.TypeMedicament"/>
        <mapping class="ma.mapharmasys.model.Fournisseur"/>
        <mapping class="ma.mapharmasys.model.Medicament"/>
        <mapping class="ma.mapharmasys.model.Pharmacie"/>
        <mapping class="ma.mapharmasys.model.Commande"/>
        <mapping class="ma.mapharmasys.model.Credit"/>
        <mapping class="ma.mapharmasys.model.Avance"/>
        <mapping class="ma.mapharmasys.model.Echange"/>
        <mapping class="ma.mapharmasys.model.LigneBonLivraison"/>
        <mapping class="ma.mapharmasys.model.LigneCommande"/>
        <mapping class="ma.mapharmasys.model.DetailEchange"/>
    </session-factory>
</hibernate-configuration>